*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    position: relative;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    position: relative;
}

.background-img{
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    height: 30%;
    width: 100%;
    background: url('../img/887558.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.container{
    margin: 0 auto;
    max-width: 760px;
    padding: 10px;
}

section{
    margin: 10px 0;
}
.form_logo{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.form_text{
    flex: 0 0 auto;
    position: relative;
    color: rgba(74, 45, 78, 0.63);
    text-transform: capitalize;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: left;
    padding-right: 10px;
}
.form_btn{
    position: relative;
    flex: 0 0 auto;
    color: rgba(74, 45, 78, 0.63);
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}
.form_btn__disabled{
    display: none;
}

.open::before{
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 11px;
    height: 11px;
    background-color: transparent;
    border: 1px solid rgba(74, 45, 78, 0.63);
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    top: 0;
    left: 100%;
    font-size: 0px;
    transform: translate(0px, 1px) rotate(45deg);
}

.close::before {
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 11px;
    height: 11px;
    background-color: transparent;
    border: 1px solid rgba(74, 45, 78, 0.63);
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent; 
    top: 0;
    left: 100%;
    font-size: 0px;
    transform: translate(0px, 8px) rotate(45deg);

}

.form{
    padding: 15px 25px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.719);
    box-shadow: 0px 3px 15px 4px rgba(181, 160, 189, 0.2);
    
}

.form__updating {
    padding: 0;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.719);
    box-shadow: none;
}
.form_data_container{
    height: 0px;
    overflow: hidden; 
   
}

.form_data_container__open{
    height: auto;
    overflow: visible; 
}

.form_data {
    display: block;
    padding: 15px 0 0 0;
}


.data_btn{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.data_fields{
   margin-bottom: 15px;
  
}

.field_label{
    margin-bottom: 5px;
    color: rgb(107, 76, 110);
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px; 
}
.field{
    display: block;
    border-radius: 3px;
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.651);
    border: 1px solid rgb(170, 153, 172);
    padding: 10px;
    /* font-size: 14px; */
    color: rgb(88, 63, 90);
    font: 14px 'Courier New', Courier, monospace;
}

textarea.field{
    height: 80px;
    resize: none;
}

.field__error {
    border: 1px solid red;
}
.field-error-div {
    text-align: right;
    color: red;
    font-size: 12px;
    padding: 3px 0;
    font-family: 'Courier New', Courier, monospace;
}



.input_container{
    display: flex;
    align-items: stretch;
}
.input_data{
    flex: 1 1 auto;
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.753);
    padding: 10px;
    font-size: 16px;
}

.input_add-button{
    position: relative;
    width: 40px;
    padding: 10px;
    color: black; 
    background-color: white;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: 1px solid rgba(74, 45, 78, 0.253);;
}

.input_add-button::before, .input_add-button::after{
    content: "";
    position: absolute;
    display: block;
    background-color: rgba(74, 45, 78, 0.63);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    width: 60%;
    height: 0.5px;
}
.input_add-button::after{
    transform: translate(-50%, -50%) rotate(0deg);
}
.event-table_items, .event-table_control-panel{
    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 3px 15px 4px rgba(181, 160, 189, 0.2);
}
.event-table_control-panel{
    margin: 30px 0 0 0;
    padding: 10px 25px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.control-panel_pagination{
    flex: 0 0 auto;
}
.control-panel_count{
    flex: 0 0 auto;
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(203, 147, 209);
}

.items_element{
    border-bottom: 1px solid rgb(210, 196, 212);
    color: rgb(88, 63, 90);
    font: 16px 'Courier New', Courier, monospace;
    
}
.items_element:last-child{
    border-bottom: none;
}
.element {
    position: relative;
}

.element_main{
    display: flex;
    align-items: center;
    padding: 10px 25px; 
    transition: 0.5s;
}
.element_main:hover{
    background-color: rgb(209, 175, 224); 
    transition: 0.5s;
}


.element_main__open{
    background-color: rgb(209, 175, 224);
    transition: 0.5s;
}

.element_done-btn{
    flex: 0 0 25px;
    position: relative;
    width:25px; 
    height: 25px;
    position: relative;
    border-radius: 3px;
    border: 1px solid rgb(164, 151, 207);
    background: linear-gradient(135deg, rgb(207, 154, 201), rgb(111, 83, 204));
    margin: 0 25px 0 0;
    
}
.element_done-btn::before{
    content: "\2713";
    position: absolute;
    display: block;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}
.element_data{
    flex: 1 1 auto;
    text-transform: uppercase;
}
.element_delete-btn{
    flex: 0 0 25px;
    width:25px; 
    height: 25px;
    position: relative;
    border: 1px solid rgba(74, 45, 78, 0.63);
    border-radius: 3px;
    transition: 1s;
    visibility: visible;
}

.element_delete-btn__hidden{
    visibility: hidden;
    transition: none;
}
.element_delete-btn__hidden::after, .element_delete-btn__hidden::before{
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
}

.element_delete-btn::before{
    content: "";
    position: absolute;
    display: block;
    background-color: rgba(74, 45, 78, 0.63);
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(45deg);
    width: 100%;
    height: 1px;
}
.element_delete-btn::after{
    content: "";
    position: absolute;
    display: block;
    background-color: rgba(74, 45, 78, 0.63);
    top: 50%;
    right: 0;
    transform: translateY(-50%) rotate(-45deg);
    width: 100%;
    height: 1px;
}
.element_delete-btn:hover{
    background-color: rgb(136, 60, 145);
    box-shadow: 0px 0px 10px 3px rgba(130, 153, 171, 0.2) inset;
    transition: 1s;
}
.element_delete-btn:hover::after,.element_delete-btn:hover::before{
    background: rgb(254, 245, 255);
    transition: 1s;
}


.element_aditional_container{
    height: 0px;
    overflow: hidden;
}

.element_aditional{
    padding: 10px 25px; 
}
.element_aditional_data {
    margin-bottom: 15px;
    font-size: 14px;
}

.element_aditional_data span:first-child{
    font-weight: bold;
    text-transform: capitalize;
}

.element_aditional_data span:last-child{
    text-transform: lowercase;
}

.element_aditional_btn{
    text-transform: uppercase;
    cursor: pointer;
}

.pagination_container{
    display: flex;
}
.pagination_left, .pagination_right{
    width: 25px;
    height: 25px;
    position: relative;
    /* border: 1px solid rgb(164, 151, 207); */
    border-radius: 3px;
    overflow: hidden;
    color: rgb(156, 114, 161);

}
/* .pagination_left{
    margin: 0 5px 0 0;
} */
.pagination_right__disabled, .pagination_left__disabled{
    pointer-events: none;
    color: rgba(156, 114, 161, 0.637);
}

.pagination_right::before{
    content: "\27A4";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    transform: translateY(-2px);
    width: auto;
    font-size: 24px;
  
   
}
.pagination_left::before{
    content: "\27A4";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    transform: rotate(180deg) translateY(1px);
    font-size: 24px;
  

} 
